* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
}

body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    
}

h1 {
    font-family: "Amiri";
}

.section-one p,
.section-one a,
.section-one h1,
label {
    color: #fff;
}

li {
    list-style: none;
}

.section-one {
    position: relative;
}

nav {
    width: 1200px;
    height: 230px;
    /* border: 1px solid #fff; */
    margin: auto;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translatex(-50%);
}

.nav-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(102, 102, 102, .3);
}

.nav-one > a > img {
    margin: 10px 60px;
    width: 250px;
}

.nav-one-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-one-menu-a {
    margin-top: -10px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-bottom: 4px solid #4c82ab; */
    gap: 24px;
}

.nav-one-menu-a li {
    height: 85%;
}

.nav-one-menu-a li a {
    display: block;
    font-size: 12px;
    /* border: 4px solid #4c82ab; */
    /* margin-top:-6px; */
    padding-top: 12px;

}

.nav-one-menu-a > a {
    height: 85%;
    padding-top: 12px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    /* border: 4px solid #4c82ab; */
}

.nav-one-menu-a > a:hover,
.nav-one-menu-a > li:hover  {
    border-bottom: 4px solid #4c82ab;
}

.align {
    padding-left: 8px;
}

.round {
    margin-top: -6px;
    padding: 6px 24px;
    border: 1px solid #fff;
    border-radius: 25px;
}

.nav-one-menu-a button {
    margin-top: -12px;
}

.nav-one-menu-a i {
    padding-right: 10px;
}

.fa-angle-down {
    padding-left: 10px;
}

.iscriviti {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    margin-left: -8px;
}

.nav-one-menu-b {
    margin-right: 24px;
    margin-bottom: -20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdown {
    /* display: inline-block; */
    position: relative;
    /* border: 1px solid #fff; */
}

.dropdown.dfour,
.dropdown.dfive,
.dropdown.dsix,
.dropdown.dseven {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
}

.dropdown.dfour:hover,
.dropdown.dfive:hover,
.dropdown.dsix:hover,
.dropdown.dseven:hover {
    background-color: #fff;
}

.dropdown.dfour:hover > a,
.dropdown.dfive:hover > a,
.dropdown.dsix:hover > a,
.dropdown.dseven:hover > a {
    color: #303030;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* border: 1px solid #fff; */
    background-color: #fff;
}

.dropdown-content a {
    color: #4c82ab;
    text-decoration: none;
}

.dropdown-content a:hover {
    text-decoration: underline;
    color: #294860;
}

.dropdown-content a:hover p {
    color: #294860;
}

.dropdown-content p {
    color: #666666;
}

.dropdown-content.done {
    width: 180px;
    /* display: block; */
    top: 112%;
    right: 0%;
    z-index: 5;
}

.dropdown-content.done li {
    margin: 20px;
}

.dropdown-content.done li:first-of-type {
    margin: 2px 20px 20px 20px;
}

.dropdown-content.done li:hover {
    text-decoration: underline;
}

.dropdown.done:hover .dropdown-content.done {
    display: block;
}

.dropdown-content.dtwo {
    width: 420px;
    /* display: block; */
    top: 112%;
    right: 0%;
    z-index: 5;
}

.dtwo-wrap  {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.dtwo-wrap h3 {
    font-family: "Amiri";
    color: #303030;
    font-size: 28px;
    margin-top: 12px;
}

.dtwo-wrap p {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: -64px 0 28px 0;
    font-size: 14px;
    /* border: 1px solid #000; */
}

.dtwo-wrap p a {
    padding-bottom: 10px;
}

.login-form {
    margin-top: -64px;
}

.login-form input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
    height: 36px;
}

.login-form label {
    display: block;
    color: #666666;
    margin: 12px 0 8px 0;
}

.labelsize {
    font-size: 12px;
}

.login,
.cerca {
    margin: 32px 0;
    color: #fff;
    background-color: #4c82ab;
    font-size: 16px;
    padding: 15px 48px;
    border: none;
    border-radius: 8px;
}

.cerca {
    background-color: #fff;
}

.dtwolink:hover,
.labelsize:hover {
    text-decoration: underline;
}

.login:hover,
.cerca:hover,
.dthree-wrap .cerca:hover {
    background-color: #294860;
    color: #fff;
}

.dropdown.dtwo:hover .dropdown-content.dtwo {
    display: block;
}

.dropdown-content.dthree {
    width: 420px;
    height: 240px;
    /* display: block; */
    top: 112%;
    right: 0%;
    z-index: 5;
}

.dthree-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dthree-wrap p {
    width: 360px;
    margin: 12px auto -12px auto;
    text-align: center;
    font-size: 16px;
}

.dthree-wrap input {
    margin: 30px 0 36px 0;
    width: 300px;
    height: 36px;
}

.dthree-wrap .cerca {
    color: #fff;
    background-color: #4c82ab;
}

.dropdown.dthree:hover .dropdown-content.dthree {
    display: block;
}

.dropdown-content.dfour {
    width: 1100px;
    height: 340px;
    /* display: block; */
    transform: translateX(50%);
    top: 99%;
    right: 20%;
    background-color: #fff;
    z-index: 5;
}

.dfour-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.dfour-box {
    width: 350px;
    /* border: 1px solid #303030; */
}

.dfour-box a img {
    display: block;
    margin: 16px auto;
    width: 300px;
}

.dfour-box p {
    margin: 25px auto;
    text-align: center;
    color: #4c82ab;
}

.dropdown.dfour:hover .dropdown-content.dfour {
    display: block;
}

.dropdown-content.dfive {
    width: 1100px;
    height: 400px;
    /* display: block; */
    top: 99%;
    left: -326%;
    z-index: 5;
}

.dfive-wrap {
    display: flex;
    position: relative;
}

.dfive-column {
    /* border: 1px solid #294860; */
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 36px 24px 24px;
}

.dfive-column p,
.dfive-show p {
    color: #4c82ab;
}

.dfive-column > li {
    display: flex;
    align-items: center;
    width: 330px;
    height: 100%;
    padding-right: 32px;
    /* border: 1px solid #303030; */
}

.dfive-box > a > p {
    width: 290px;
    /* border: 1px solid #000; */
}

.dfive-box > a {
    display: flex;
    justify-content: space;
    align-items: center;
}

.dfive-column a:hover,
.dfive-show a:hover {
    text-decoration: none;
}

.dfive-box a {
    display: flex;
    justify-content: space-between;
}

.dfive-show {
    display: none;
    /* border: 1px solid #294860; */
    width: 750px;
    height: 400px;
}

.pfive {
    margin: 6px;
    /* display: block; */
    text-align: center;
    z-index: 3;
    font-size: 18px;
}

.dfive-show img {
    /* display: none; */
    /* border: 1px solid #303030; */
}

.imagefive {
    width: 700px;
    height: 320px;
    object-fit: cover;
    display: block;
    margin: 12px auto;
}

.dfive-show.tendenze {
    display: block;
    background-color: #fff;
    z-index: 8;
}

.dfive-show.tendenze,
.dfive-show.passioni,
.dfive-show.guide,
.dfive-show.storie {
    position: absolute;
    top: 0%;
    left: 31.9%;
    background-color: #fff;
    /* border: 1px solid #294860; */
}

.dfive-show.passioni {
    display: block;
    z-index: 7;
}
.dfive-show.guide {
    /* display: block; */
    z-index: 7;
    /* border: 1px solid #303030; */
}
.dfive-show.storie {
    /* display: block; */
    z-index: 7;
}

.dfive-show.tendenze a,
.passioni-column,
.dfive-show.guide a,
.dfive-show.storie a {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.dfive-box.pas:hover .dfive-show.passioni { 
    display: block;
    z-index: 9;
}

.dfive-box.gui:hover .dfive-show.guide { 
    display: block;
    z-index: 9;
}

.dfive-box.sto:hover .dfive-show.storie { 
    display: block;
    z-index: 9;
}

.passioni-column > a {
    margin-top: 32px;
}

.passioni-column img {
    width: 320px;
    margin: 40px;
}

.passioni-wrap {
    display: flex;

}

.passioni-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.passioni-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 20px 10px;
}

.passioni-container a {
    display: flex;
    justify-content: space-between;
    /* z-index: 2; */
}

.dropdown.dfive:hover .dropdown-content.dfive {
    display: block;
}

.dropdown-content.dsix {
    width: 1100px;
    height: 415px;
    /* display: block; */
    top: 99%;
    left: -428%;
    z-index: 5;
}

.dsix-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.dsix-box-container {
    display: flex;
    justify-content: space-around;
    gap: 36px;
}

.dsix-box a img {
    margin-top: 30px;
    width: 320px;
}

.dsix-box {
    width: 320px;
}

.dsix-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #303030; */
}

.dsix-box a p {
    margin: 16px 0;
    width: 250px;
    text-align: center;
    color: #4c82ab;
}

.offerte a {
    font-size: 20px;
}

.offerte i {
    margin-left: 8px;
    color: #4c82ab;
}

.dropdown.dsix:hover .dropdown-content.dsix {
    display: block;
}

.dropdown-content.dseven {
    width: 1200px;
    height: 440px;
    /* display: block; */
    top: 99%;
    left: -555.5%;
    z-index: 5;
}

.dseven-wrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dseven-box-container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    /* gap: 45px; */
    /* border: 1px solid #294860; */
}

.dseven-box {
    margin: 30px 0;
    width: 320px;
    /* border: 1px solid #294860; */
    flex: 1;
}

.dseven-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dseven-box a p {
    margin: 16px auto;
    color: #4c82ab;
    font-weight: 500;
}

.dseven-box a img {
    width: 320px;
}

.dseven-box p {
    display: block;
    width: 300px;
    margin: auto;
    text-align: center;
    font-weight: 300;
}

.dropdown.dseven:hover .dropdown-content.dseven {
    display: block;
}

.accountl {
    margin: 12px 0;
    font-weight: 100;
}

.nav-two {
    height: 80px;
    border-top: 4px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(102, 102, 102, .7);
}

.dropdown > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.nav-two-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-two-box:first-of-type {
    width: 200px;
}

.nav-two-box > input {
    background-color: ;
}

.cerca {
    color: #4c82ab;
    font-size: 16px;
    padding: 15px 48px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
}

.slide:after {
    background: linear-gradient(to left, rgb(255, 255, 255) 40%,rgba(255,255,255,0) 69%);
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    content:'';
    inset: 0;
    opacity: 0;     /* Hide the slides except for the active slide*/
    transition: 500ms opacity ease-in-out;
    transition-delay: 500ms;
}

/* Create the active-slide, which will show the selected slide */
.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

/* Make the image fill all the screen */
.slide > img {
    display: block;     /*> This helps to resize the image*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: #182430b3;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    background-color: rgba(24,36,48,0.7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 8px 20px;
}

.carousel-button:hover,
.carousel-button:focus {    
    color: rgba(255, 255, 255, .6);
    background-color: rgba(24,36,48,0.7);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.slidebox1 {
    width: 600px;
    position: absolute;
    padding: 16px;
    top: 42%;
    left: 20%;
    z-index: 3;
}

.slidebox1 h1 {
    font-size: 48px;
    line-height: 56px;
}

.slidebox1 p {
    font-size: 18px;
    margin: 20px 0;
}

.slidebox1 a {
    font-size: 22px;
    text-decoration: none;
}

.slidebox1 i {
    margin-left: 8px;
}

.slidebox2  {
    width: 400px;
    position: absolute;
    top: 78%;
    right: 20%;
    z-index: 3;
}

.slidebox2 a {
    text-decoration: none;
}

.slidebox2 p {
    text-align: right;
}

.slidebox2 p:first-of-type {
    font-size: 18px;
}

.s4-box {
    position: relative;
}

.s4-box a {
    position: absolute;
    left: 30px;
}

.s4-box p {
    position: absolute;
    width: 50%;
    top: 30px;
}

.s4-box img {
    height: 300px;
}

.section-two {
    width: 1200px;
    height: 600px;
    margin: auto;
    text-align: center;
}

.section-two h1,
.section-three h1 {
    margin-top: 80px;
    font-size: 48px;
}

.section-two h2 {
    margin: auto;
    color: #8d6d4f;
    font-size: 22px;
    font-weight: 200px;
}

.s2-boxescontainer {
    margin-top: 56px;
    width: 1200px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-around;
}

.s2-boxescontainer a {
    text-decoration: none;
}

.s2-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 330px;
    /* border: 1px solid #fff; */
    position: relative;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.77) 100%); */
    /* background: linear-gradient(#252525, #252525 50%, #2ecc71 50%, #2ecc71);
    background-size: 100% 200%;
    background-position: bottom;
    transition: all 0.2s ease; */

}

.s2img1 {
    background-image: url(./images/box1.jpg);
    background-position: center;
    background-size: cover;
}

.s2img2 {
    background-image: url(./images/box2.jpg);
    background-position: center;
    background-size: cover;
}

.s2img3 {
    background-image: url(./images/box3.jpg);
    background-position: center;
    background-size: cover;
}

.s2-box p {
    display: block;
    position: absolute;
    bottom: 24px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.scroll {
    position: absolute;
    width: 330px;
    height: 330px;
    padding: 24px;
    z-index: 0;
    bottom: -330px;
    overflow: hidden;
}

.scroll-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 330px;
    height: 330px;
    font-size: 18px;
    color: #fff;
    padding: 22px;
    z-index: 0;
    bottom: -330px;
    overflow: hidden;
}

/* hide the scroll-boxes behind this div */
.hideblock {
    position: relative;
    margin-top: -1px;
    width: 100%;
    height: 330px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
/* 
.s2-box:hover {
    background-position: 100% 100%;
} */

.s2-box:hover .scroll {
    bottom: 0;
    /* transform: translateY(-70%); */
    background-color: #101010;
    opacity: 0.5;
    transition: .3s;
    z-index: 0;
}

.s2-box:hover .scroll-box {
    bottom: 0;
    transition: .3s;
    z-index: 0;
}

.section-three {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    margin: auto;
    text-align: center;
    border: 1px solid #fff;
    z-index: 2;
}

.s3-boxescontainer {
    width: 100%;
    margin-top: 24px;
    display: flex;
}

.s3-box {
    position: relative;
    width: 375px;
    height: 450px;
    text-decoration: none;
}

.imaget1 {
    background-image: url(./images/destination1.jpg);
    background-position: center;
    background-size: cover;
}

.imaget2 {
    background-image: url(./images/destination2.jpg);
    background-position: center;
    background-size: cover;
}


.imaget3 {
    background-image: url(./images/destination3.jpg);
    background-position: center;
    background-size: cover;
}

.imaget4 {
    background-image: url(./images/destination4.jpg);
    background-position: center;
    background-size: cover;
}

.section-three h3 {
    font-weight: 200;
    color: #666666;
    width: 800px;
}

.showt1,
.showt2,
.showt3,
.showt4 {
    display: none;
}

.s3-box-container {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: left;
    padding: 32px 0 0 24px;
}

.line {
    position: absolute;
    width: 375px;
    height: 6px;
    background-color: #4c82ab;
}

.s3-box-container p {
    font-size: 18px;
    width: 300px;
}

.s3-box-container i {
    margin-left: 8px;
}

.imaget1:hover .showt1 {
    display: block;
}

.imaget2:hover .showt2 {
    display: block;
}

.imaget3:hover .showt3 {
    display: block;
}

.imaget4:hover .showt4 {
    display: block;
}

.footer-container {
    background-color: #303030;
    height: 700px;
}

footer {
    width: 1200px;
    margin: auto;
    color: #fff;
}

footer img {
    width: 250px;
    margin: 0 auto 40px auto;
}

footer h5 {
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #4c82ab;
    margin-left: 8px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-columns-container {
    padding-top: 72px;
    display: flex;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 0.5px solid #4c82ab;
    gap: 26px;
    padding: 0 16px 24px 16px;
}

.split {
    display: flex;
    gap: 8px;
}

.prenotazioni p {
    margin-bottom: 48px;
}

.prenotazioni a {
    margin: 0;
}

.footer-column i {
    color: #fff;
    font-size: 18px;
    margin-right: 12px;
}

.footer-bottom {
    margin: 64px 0;
    display: flex;
    justify-content: center;
}

.footer-bottom a {
    padding: 0 20px 0 12px;
    border-right: 1px solid #666666;
}

.footer-bottom a:last-of-type {
    border-right: none;
}